#headderBar {
    background-image: linear-gradient(to bottom, #63914BFF 0, #467E2EFF 100%);
}

.ui.masterVision {
    background-color: #DBC89A;
    background-size: cover;
    background-position: center;
}