#img1 {
    background-image: url("./../static/images/img1.jpg");
}

#img2 {
    background-image: url("./../static/images/img2.jpg");
}

#img3 {
    background-image: url("./../static/images/img3.jpg");
}
.mainVision{
    background-size:contain;
    background-clip: padding-box;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}